One or more kernel tests failed:
{% if test_data.regressions %}
    ❗ Regression(s) detected:
    {% for test in test_data.regressions|sort(attribute="architecture,debug") %}
        {{ '%8s'|format(test.architecture) }}{{ " (debug)" if test.debug else "" }} - {{ test.comment }}
        {% for issue_occurrence in test.issues_occurrences %}
          {% if issue_occurrence.is_regression %}
                   Issue: {{ issue_occurrence.issue.description }}
                          {{ issue_occurrence.issue.ticket_url }}
                   Logs: {{ dw_url }}/kcidb/tests/{{ test.misc.iid }}
          {% endif %}
        {% endfor%}
    {% endfor %}

{% endif %}
{% if test_data.unknown_issues_tests %}
    Unrecognized or new issues:
    {% for test in test_data.unknown_issues_tests|sort(attribute="architecture,debug") %}
        {{ '%8s'|format(test.architecture) }}{{ " (debug)" if test.debug else "" }} - {{ test.comment }}
                   Logs: {{ dw_url }}/kcidb/tests/{{ test.misc.iid }}
        {% if test.subtests %}
                   Non-passing subtests:
            {% for subtest in test.subtests %}
                {% if subtest.status != "PASS" %}
                       {{ subtest.status|status_to_emoji }} {{ subtest.status }} {{ subtest.name }}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}

{% endif %}
{% if test_data.known_issues_tests %}
    We also see the following known issues which are not related to your changes:
    {% for url, issue in test_data.known_issues.items() %}
        Issue: {{ issue.issue.description }}
            URL: {{ url }}
            Affected tests:
        {% for test in issue.tests|unique_test_descriptions()|sort(attribute="architecture,debug") %}
                {{ '%8s'|format(test.architecture) }}{{ " (debug)" if test.debug else "" }} - {{ test.comment }}
        {% endfor %}
    {% endfor %}

{% endif %}
